body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.header{
    background: #292929;
    width: 100%;
}
header .row img{
    width: 50px;
    box-shadow:0 0 10px rgb(0, 207, 222);
    border-radius: 50%;
}
header .row h1{
    font-size: 31px;    
    margin-top: -38px;
    margin-left: 50px;
    font-weight: 400;
    color:  rgb(0, 207, 222);
}
.h-text-div{
    margin-left: 30px;
    margin-top: 10px;
}
.section-1{
    background: #161616;
    width: 100%;
}
.section-1 .row img{
    width: 100%;
}
.section-1 .row h1{
    margin-top: 20%;
    font-style: oblique;
    font-size: 55px;
    color: rgb(0, 207, 222);
}
.section-1 .row p{
    font-style: oblique;
    color: #bdbdbd;
}
.section-1 .row h2{
    font-style: oblique;
    font-size: 35px;
    color: rgb(53, 107, 113);
}
header nav form{
    font-size: 25px;
    margin-left: 3%;
    display: flex;
    text-decoration: none;
    width: 100%;
}
header nav form .a-div{
 padding-left: 10%;  
}
.a-text:hover{
    box-shadow:0 0 20px rgb(255, 255, 255); 
    border-radius: 10%;
}
.s-text{
    color: rgb(0, 108, 115) ;
}
.f-texts{
    font-size: 30px;
    font-weight: 700;
    color: black;
}
.p-img{
    width: 100%;
    transition: all 0.5s ease;
    box-shadow:0 0 15px rgb(0, 207, 222);
    height: 161px;
}
form button{
    width: 100%;
    margin-top: 10px;
    background: #08223e;
    color: white;
}
.p-img:hover{
    transform: scale(1.05);
}
.form-stl{
    box-shadow:0 0 15px rgb(0, 207, 222);
}
.fr-logo{
    box-shadow: 0 0 10px rgb(0 0 0);
    margin-left: 7px;
}

@media only screen and (max-width:600px) {
    .section-1 .row{
        flex-direction: column-reverse;
    }
    header nav form{
        margin-left: -2%;
        font-size: 19px;
    }
    header nav form .a-div{
      padding-left: 3%;
    }
    .card-style{
        margin-top: 30px;
    }
    .p-img{
        margin-top: 35px;
    }
    
} 
